name: "Build and publish to Cachix and FlakeHub ❄️"
on:
  workflow_dispatch:
  push:
    branches:
      - master
  workflow_run:
    workflows: ["Update flake.lock ❄️"]
    types:
      - completed
jobs:
  discover:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Install nix
        uses: cachix/install-nix-action@v31
      - name: Discover flake packages
        id: discover
        run: |
          pkgs=$(nix flake show --json | jq -c '.packages."x86_64-linux" | keys')
          echo "pkgs=$pkgs" >> "$GITHUB_OUTPUT"
    outputs:
      pkgs: ${{ steps.discover.outputs.pkgs }}
  build:
    needs: discover
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        pkg: ${{ fromJson(needs.discover.outputs.pkgs) }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup runner
        uses: ./.github/actions/setup-runner
        with:
          cachix_token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build ${{ matrix.pkg }}
        run: |
          CORES=$(nproc)
          CORES=$((CORES - 1))
          echo "Using $CORES cores."
          nix build -L --cores "$CORES" ".#${{ matrix.pkg }}"
      - name: Publish to FlakeHub
        uses: DeterminateSystems/flakehub-push@v6
        with:
          name: "andresilva/polkadot.nix"
          rolling: true
          visibility: public
        continue-on-error: true
  build-shell:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Setup runner
        uses: ./.github/actions/setup-runner
        with:
          cachix_token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Nix flake develop
        run: nix develop
      - name: Publish to FlakeHub
        uses: DeterminateSystems/flakehub-push@v6
        with:
          name: "andresilva/polkadot.nix"
          rolling: true
          visibility: public
        continue-on-error: true
