name: "Update flake packages ❄️"
on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *"
jobs:
  update-flake-packages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install nix
        uses: cachix/install-nix-action@v30
      - name: Update flake packages
        uses: andresilva/nix-update-action@main
        with:
          token: ${{ secrets.GH_TOKEN }}
          blacklist: "polkadot,polkadot-omni-node,polkadot-parachain,chain-spec-builder,frame-omni-bencher,subkey,zombienet"
          pr-title: "bot: update packages"
